/.env
/data/db/handleRutube.db
/data/db/handleTelegram.db
/data/db/handleVkontakte.db
/data/log/process-videos-from-youtube.log
/.env.prod
/vendor/
/data/log/full-transfer-of-videos-from-youtube-to-rutub.log
/tools/
